body {
  background-color: #7ac6ff;
}

h1 {
  color: white;
  font-weight: bolder;
}

p {
  color: white;
  font-weight: bolder;
}

label {
  color: white;
  font-weight: bolder;
}

div {
  color: white;
  font-weight: bolder;
}
